<?xml version="1.0"?>
<!--
/**
* @copyright Copyright (c) 2016 www.magebuzz.com
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magebuzz" translate="label" sortOrder="1">
            <label>Magebuzz Extensions</label>
        </tab>
        <section id="timecountdown" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Time Countdown</label>
            <tab>magebuzz</tab>
            <resource>Magebuzz_Timecountdown::system_config</resource>
            <group id="display_place" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1"
                   showInWebsite="1">
                <label>Place to display</label>
                <field id="product_details" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display Price Countdown in Product Details Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_details" translate="label" type="select" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display Price Countdown in Products in Category Details Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="style" translate="label" type="text" sortOrder="2" showInDefault="1" showInStore="1"
                   showInWebsite="1">
                <label>Countdown Style</label>
                <field id="style_select" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Select Style of Price Countdown</label>
                    <source_model>Magebuzz\Timecountdown\Model\Config\Source\Styles</source_model>
                </field>
            </group>
            <group id="homepage" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="1"
                   showInWebsite="1">
                <label>Homepage</label>
                <field id="show_in_homepage" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display Price Countdown in Homepage</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_in_one" translate="label" type="select" sortOrder="2" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Display All Products in One Countdown Clock</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
                        <field id="show_in_homepage">1</field>
                    </depends>
                </field>
                <field id="fromdate" translate="label" sortOrder="3" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>From Date</label>
                    <frontend_model>Magebuzz\Timecountdown\Block\System\Config\DatePicker</frontend_model>
                    <validate>validate-date</validate>
                    <depends>
						<field id="show_in_homepage">1</field>
                        <field id="display_in_one">1</field>
                    </depends>
                </field>
                <field id="todate" translate="label" sortOrder="4" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>To Date</label>
                    <frontend_model>Magebuzz\Timecountdown\Block\System\Config\DatePicker</frontend_model>
                    <validate>validate-date</validate>
                    <depends>
						<field id="show_in_homepage">1</field>
                        <field id="display_in_one">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>