
.timer{
    text-align: center;
    margin: 5px auto 0;
    padding: 0 0 10px;
}
.timer .table-cell{
    display: inline-block;
    margin: 0 5px;
    width: 79px;
    background: url(../images/timer.png) no-repeat 0 0;
}
.timer .table-cell .tab-val{
    font-size: 35px;
    color: #80a3ca;
    height: 81px;
    line-height: 81px;
    margin: 0 0 5px;
}
.timer .table-cell .tab-unit{
    font-family: Arial, serif;
    font-size: 12px;
    text-transform: uppercase;
}

#simple_timer.timer .table-cell.day,
#periodic_timer_days.timer .table-cell.hour{
    width: 120px;
    background-image: url(../images/timer_long.png);
}